@import './reset';

body {
  font: normal 16px Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: rgb(38, 38, 38);
}

.disable-interaction {
  pointer-events: none;
  user-select: none;

  &:focus {
    outline: 0;
  }

  *:focus {
    outline: 0;
  }
}