@import './reset';

body {
  font: normal 16px Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: rgb(38, 38, 38);
}

.disable-interaction {
  pointer-events: none;
  user-select: none;

  &:focus {
    outline: 0;
  }

  *:focus {
    outline: 0;
  }
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  99% { transform: rotate(360deg); }
}

.small-loader {
  &:after {
    display: inline-block;
    content: "\f110";
    visibility: hidden;
    opacity: 0;
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 16px;
    transition: opacity 0.5s ease-out;
  }

  &__visible:after {
    visibility: visible;
    opacity: 1;
    animation: loader 1s infinite linear;
  }
}